#menu {
	display: block;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #99e3e6;
}
#menu li {
	display: inline-block;
	width: 30%;
	text-align: center;
	padding: 20px;
}

#menu li a {
	color: #FFF;
}

#menu li:hover {
	background-color: #14989e;
}

.content {
	display: block;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #14989e;
}

.Block_Floor {
	width: 100%;
}
.Block_Floor li {
	display: inline-block;
	width: 22.5%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #FFF;
	cursor: pointer;
}

.Block_Floor li:hover {
	background-color: #99e3e6;
}

#Block_Room #room_item {
	display: inline-block;
	width: 25%;
	height: 200px;
	border: 2px solid gold;
	text-align: center;
	background-color: #FFF;
}

#room_item span{
	display: inline-block;
	width: 100%;
}
